Django==4.2
uvicorn
Pillow==10.4.0
qrcode==8.2
opencv-python-headless==4.11.0.86
PyMuPDF==1.25.5
django-environ==0.12.0
dj-database-url==2.3.0
gunicorn==23.0.0
psycopg2-binary==2.9.9
whitenoise==6.9.0
django-storages
boto3==1.26.28
botocore==1.29.28
requests
supabase

