{% load static %}
<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MGJ-Goma Secteur ville</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'assets/images/logos/favicon.png' %}"/>
  <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'assets/css/boostrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/libs/owl.carousel/dist/assets/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/libs/aos-master/dist/aos.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}" />

   <style>
   .avatar {
        width:80px;
        height:80px;
   }

   .border-right-gold {
       border-right: 4px solid #B8860B; /* or pur */
       border-radius: 0.5rem;           /* pour garder les coins arrondis */
   }
   </style>
</head>

<body>
  <!-- Header -->
  <header class="header border-4 border-primary position-fixed start-0 top-0 w-100">
    <div class="container">
      <div class="header-wrapper d-flex align-items-center justify-content-between">
        <div class="logo">
          <a href="{% url 'membres:home' %}" class="logo-white">
            {% if ministere.logos %}
            <img src="{{ministere.logos.url}}" alt="logo" class="img-fluid avatar">
            {% else %}
            <p class="text-white">{{ ministere.name }}</p>
            {% endif %}
          </a>
          <a href="{% url 'membres:home' %}" class="logo-dark">
            {% if ministere.logos %}
            <img src="{{ministere.logos.url}}" alt="logo" class="img-fluid avatar">
            {% else %}
            <p class="text-white">{{ ministere.name }}</p>
            {% endif %}
          </a>
        </div>
        <div class="d-flex align-items-center gap-4">

          <div class="btn-group">
            <button
              class="btn btn-secondary toggle-menu round-45 p-2 d-flex align-items-center justify-content-center bg-white rounded-circle"
              type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
              <iconify-icon icon="solar:hamburger-menu-line-duotone" class="menu-icon fs-8 text-dark"></iconify-icon>
            </button>
            <ul class="dropdown-menu dropdown-menu-end p-4">
              <div class="d-flex flex-column gap-6">
                <div class="hstack justify-content-between border-bottom pb-6">
                  <p class="mb-0 fs-5 text-dark">Menu</p>
                  <button type="button" class="btn-close opacity-75" aria-label="Close"></button>
                </div>
                <div class="d-flex flex-column gap-3">
                  <ul class="header-menu list-unstyled mb-0 d-flex flex-column gap-2">
                    <li class="header-item">
                      <a href="{% url 'membres:home' %}" aria-current="true"
                        class="header-link active hstack gap-2 fs-7 fw-bold text-dark">
                          Accueil
                      </a>
                    </li>
                    <li class="header-item">
                      <a href="{% url 'membres:home' %}#about" class="header-link hstack gap-2 fs-7 fw-bold text-dark">
                          Qui sommes nous ?
                      </a>
                    </li>
                    <li class="header-item">
                      <a href="{% url 'membres:home' %}#evenement" class="header-link hstack gap-2 fs-7 fw-bold text-dark">
                          Evenement
                      </a>
                    </li>
                    <li class="header-item">
                      <a href="{% url 'membres:home' %}#famille" class="header-link hstack gap-2 fs-7 fw-bold text-dark">
                          Famille MGJ
                      </a>
                    </li>
                    <li class="header-item">
                      <a href="{% url 'membres:home' %}#media" class="header-link hstack gap-2 fs-7 fw-bold text-dark">
                          Media
                      </a>
                    </li>
                    <li class="header-item">
                      <a href="{% url 'membres:home' %}#contact" class="header-link hstack gap-2 fs-7 fw-bold text-dark">
                          Contact
                      </a>
                    </li>
                  </ul>
<!--                  <div class="hstack gap-3">-->
<!--                    <a href="sign-in.html"-->
<!--                      class="btn btn-outline-light fs-6 bg-white px-3 py-2 text-dark w-50 hstack justify-content-center">Sign-->
<!--                      In</a>-->
<!--                    <a href="sign-up.html"-->
<!--                      class="btn btn-dark text-white fs-6 bg-dark px-3 py-2 w-50 hstack justify-content-center">Sign-->
<!--                      Up</a>-->
<!--                  </div>-->
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!--  Page Wrapper -->
  <div class="page-wrapper overflow-hidden">
    <!--  Banner Section -->
    <section class="banner-section position-relative d-flex align-items-end min-vh-100">
      <video class="bg-dark position-absolute top-0 start-0 w-100 h-100 object-fit-cover" autoplay muted loop playsinline>
        {% if com.video %}
        <source src="{{ com.video.url }}" type="video/mp4" />
        {% else %}
        <source src="{% static 'assets/images/backgrounds/banner-video.mp4' %}" type="video/mp4" />
        {% endif %}
      </video>
      <div class="container">
        <div class="d-flex flex-column gap-4 pb-8 position-relative z-1">
          <div class="row align-items-center">
            <div class="col-xl-4">
              <div class="d-flex align-items-center gap-4" data-aos="fade-up" data-aos-delay="100"
                data-aos-duration="1000">
                <p class="mb-0 text-white fs-5 text-opacity-70">BIENVENUE<span
                    class="text-warning"> Nous somme les {{ministere.name}} </span>
                    Notre but est de former, reformer, restaurer et confondre les membres du corps de Christ
                </p>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-end gap-3" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
            <h1 class="mb-0 fs-16 text-white lh-1">MGJ</h1>
            <a href="javascript:void(0)" class="p-1 ps-7 bg-warning rounded-pill">
              <span class="bg-white round-52 rounded-circle d-flex align-items-center justify-content-center">
                <iconify-icon icon="lucide:arrow-up-right" class="fs-8 text-dark"></iconify-icon>
              </span>
            </a>
          </div>
        </div>
      </div>
    </section>

         <!--  stat du contenu du site-->
  <section class="bg-dark">
      <br>
      <div class="container bg-dark">
        <div class="row bg-dark">
          <div class="card bg-dark col-6 col-md-4 col-lg-3 border-right-gold">
             <h6 class="text-white text-start">
                 <i class="fas fa-chalkboard-teacher fa-2x text-center"></i><br>
                  Enseignement
              </h6>
             <h6 class="text-warning">0</h6>
          </div>

          <div class="card bg-dark col-6 col-md-4 col-lg-3 border-right-gold">
              <h6 class="text-white text-start">
                 <i class="fas fa-calendar-check fa-2x text-center"></i><br>
                  Evenement
              </h6>
             <h6 class="text-warning">0</h6>
          </div>

          <div class="card bg-dark col-6 col-md-4 col-lg-3 border-right-gold">
             <h6 class="text-white text-start">
                 <i class="fas fa-book fa-2x text-center"></i><br>
                 Bibliotheque
             </h6>
             <h6 class="text-warning">0</h6>
          </div>

          <div class="card bg-dark col-6 col-md-4 col-lg-3 border-right-gold">
             <h6 class="text-white text-start">
                 <i class="fas fa-quote-right fa-2x text-center"></i><br>
                 Temoignage
             </h6>
             <h6 class="text-warning">0</h6>
          </div>

        </div>
      </div>
  </section>

    <!--  Stats & Facts Section -->
    <section class="stats-facts py-5 py-lg-11 py-xl-12 position-relative overflow-hidden" id="about">
      <div class="container">
        <div class="row gap-7 gap-xl-0">
          <div class="col-xl-4 col-xxl-4">
            <div class="d-flex align-items-center gap-7 py-2" data-aos="fade-right" data-aos-delay="100"
              data-aos-duration="1000">
              <span
                class="round-36 flex-shrink-0 text-dark rounded-circle bg-primary hstack justify-content-center fw-medium">01</span>
              <hr class="border-line">
              <span class="badge text-bg-dark">A propos</span>
            </div>
          </div>
          <div class="col-xl-8 col-xxl-7">
            <div class="d-flex flex-column gap-9">
              <div class="row">
                <div class="col-xxl-8">
                  <div class="d-flex flex-column gap-6" data-aos="fade-up" data-aos-delay="100"
                    data-aos-duration="1000">
                    <h2 class="mb-0">Qui sommes nous ?</h2>
                    <p class="fs-5 mb-0">
                        {% if ministere.description %}
                            {{ ministere.description }}
                        {% else %}
                        Les Ministères Générations Joël ont vu le jour en 1994 à Kolwezi, province de Lualaba en République Démocratique du Congo avec le visionnaire : le Révérend  Réussite NGOIE MANDAKU.
                        C’est une association d’hommes et des femmes sauvés par Jésus-Christ, remplis et conduits par le Saint-Esprit. Les membres de cette association viennent du monde (les païens gagnés) ou de toute église (les chrétiens) et toute dénomination qui confessent Jésus-Christ comme Sauveur et Seigneur.
                        Cette organisation est en pleine extension dans le pays et dans le monde afin de gagner des nations au seigneur et d’étendre le royaume de Dieu sur la terre.
                        Cette œuvre, implantée dans les villes on l’appelle « Antenne » et au niveau des communes « Secteur ». Alors « Antenne » et « Secteur » sont des appellations de la représentation de cette œuvre soit au niveau d’une ville soit au niveau d’une commune. <br>
                        {% endif %}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="position-absolute bottom-0 start-0" data-aos="zoom-in" data-aos-delay="100" data-aos-duration="1000">
        {% if ministere.fondateur_img %}
          <img src="{{ministere.fondateur_img.url }}" alt="" class="img-fluid rounded-pill" class="img img-fluid" width="100px" height="100px">
        {% else %}
        <img src="{% static 'assets/images/backgrounds/stats-facts-bg.svg' %}" alt="" class="img-fluid">
        {% endif %}
      </div>
    </section>

    <!--  Featured Projects Section -->
    <section class="featured-projects py-5 py-lg-11 py-xl-12 bg-light-gray" id="evenement">
      <div class="d-flex flex-column gap-5 gap-xl-11">
        <div class="container">
          <div class="row gap-7 gap-xl-0">
            <div class="col-xl-4 col-xxl-4">
              <div class="d-flex align-items-center gap-7 py-2" data-aos="fade-right" data-aos-delay="100"
                data-aos-duration="1000">
                <span
                  class="round-36 flex-shrink-0 text-dark rounded-circle bg-primary hstack justify-content-center fw-medium">02</span>
                <hr class="border-line">
                <span class="badge text-bg-dark">Nos programmes de culte</span>
              </div>
            </div>
            <div class="col-xl-8 col-xxl-7">
              <div class="row">
                <div class="col-xxl-8">
                  <div class="d-flex flex-column gap-6" data-aos="fade-up" data-aos-delay="100"
                    data-aos-duration="1000">
                    <h2 class="mb-0">Programmes</h2>
                    <p class="fs-5 mb-0">
                        Rejoignez-nous chaque semaine pour des moments de prière, d'enseignement et de communion.<br>
                        Mercredi :
                        15h00 - 17h00
                        Un temps spécial de prière, d'adoration et de partage autour de la parole de Dieu. Venez vous ressourcer et vivre des moments forts dans la présence de Dieu. <br>
                        Dimanche :
                        14h30 - 16h30
                        Notre culte dominical est un moment clé pour grandir spirituellement, recevoir des enseignements profonds et célébrer ensemble la grandeur de notre Seigneur. Ne manquez pas ce rendez-vous essentiel pour toute la famille.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="featured-projects-slider px-3">
          <div class="owl-carousel owl-theme">
            <div class="item">
              <div class="portfolio d-flex flex-column gap-6">
                <div class="portfolio-img position-relative overflow-hidden">
                  <img src="{% static 'assets/images/culte.jpg' %}" alt="" class="img-fluid">
                  <div class="portfolio-overlay">
                    <a href="#"
                      class="position-absolute top-50 start-50 translate-middle bg-warning round-64 rounded-circle hstack justify-content-center">
                      <iconify-icon icon="lucide:arrow-up-right" class="fs-8 text-dark"></iconify-icon>
                    </a>
                  </div>
                </div>
                <div class="portfolio-details d-flex flex-column gap-3">
                  <h6 class="mb-0">visitation divine</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--  media Section -->
    <section class="services py-5 py-lg-11 py-xl-12 bg-dark">
      <div class="container">
        <div class="d-flex flex-column gap-5 gap-xl-10">
          <div class="row gap-7 gap-xl-0">

            <div class="col-xl-4 col-xxl-4">
              <div class="d-flex align-items-center gap-7 py-2" data-aos="fade-right" data-aos-delay="100"
                data-aos-duration="1000">
                <span
                  class="round-36 flex-shrink-0 text-white rounded-circle bg-primary hstack justify-content-center fw-medium">03</span>
                <hr class="border-line bg-white">
                <span class="badge text-dark bg-white">Media</span>
              </div>
            </div>
            <div class="col-xl-8 col-xxl-7">
              <div class="row">
                <div class="col-xxl-8">
                  <div class="d-flex flex-column gap-6" data-aos="fade-up" data-aos-delay="100"
                    data-aos-duration="1000">
                    <h2 class="mb-0 text-white">Enseignement</h2>
                    <p class="fs-5 mb-0 text-white text-opacity-70">
                        Vous avez manqué le culte ou souhaitez revivre les moments forts de nos enseignements ? Ne vous inquiétez pas ! Chaque semaine, vous pouvez accéder à la rediffusion exclusive de nos cultes.
                        Disponible 24 heures après chaque service, vous pourrez suivre les prédications de nos enseignants, réécouter les messages inspirants, et approfondir votre foi à tout moment.
                        Restez connecté et profitez de cette opportunité de grandir spirituellement, où que vous soyez !
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="services-tab">

            <div class="row gap-5 gap-xl-0">
              <div class="col-12 col-md-4 col-xl-4 mx-auto">
                <div data-aos="zoom-in" data-aos-delay="100" data-aos-duration="1000">
                  <div>
                    <img src="{% static 'assets/images/culte.jpg' %}" alt="services" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-4 col-xl-4 mx-auto">
                <div data-aos="zoom-in" data-aos-delay="100" data-aos-duration="1000">
                  <div>
                    <img src="{% static 'assets/images/culte.jpg' %}" alt="services" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <br>
          <a href="#" class="btn border border-white border-opacity-25" data-aos="fade-up"
            data-aos-delay="300" data-aos-duration="1000">
            <span class="btn-text text-white">Voir plus</span>
            <iconify-icon icon="lucide:arrow-up-right"
              class="btn-icon bg-white text-dark round-52 rounded-circle hstack justify-content-center fs-7 shadow-sm"></iconify-icon>
          </a>
        </div>
    </section>


    <!--  Testimonial Section -->
    <section class="testimonial py-5 py-lg-11 py-xl-12 bg-light-gray">
      <div class="container">
        <div class="d-flex flex-column gap-5 gap-xl-11">
          <div class="row gap-7 gap-xl-0">
            <div class="col-xl-4 col-xxl-4">
              <div class="d-flex align-items-center gap-7 py-2" data-aos="fade-right" data-aos-delay="100"
                data-aos-duration="1000">
                <span
                  class="round-36 flex-shrink-0 text-dark rounded-circle bg-primary hstack justify-content-center fw-medium">04</span>
                <hr class="border-line bg-white">
                <span class="badge text-bg-dark">Temoignage</span>
              </div>
            </div>
            <div class="col-xl-8 col-xxl-7">
              <div class="row">
                <div class="col-xxl-8">
                  <div class="d-flex flex-column gap-6" data-aos="fade-up" data-aos-delay="100"
                    data-aos-duration="1000">
                    <h2 class="mb-0">Temoignage de nos membres</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row gap-7 gap-lg-0">
            <div class="col-lg-4 col-xl-4 d-flex align-items-stretch">
              <div class="card w-100" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
                <div class="card-body d-flex flex-column gap-5 gap-xl-11 justify-content-between">
                  <div class="d-flex flex-column gap-4">
                    <p class="mb-0">
                       Invité par un frère du ministère à un culte en fin 2019, j’ai été profondément marqué par le message du jour, tiré de Psaume 1:1. Le pasteur a abordé un sujet qui touchait un aspect caché de ma vie : l'influence négative de mes fréquentations. Bien que j’aie reçu une bonne éducation à la maison, c’est mon entourage qui m’éloignait de Dieu. Ce jour-là, le Saint-Esprit m’a convaincu, et j’ai décidé de donner ma vie à Jésus.
                        Depuis, je marche dans la foi et sers aujourd’hui avec joie au Ministère Génération Joël, secteur Goma-Ville.
                    </p>
                  </div>
                  <div class="hstack gap-3">
                    <img src="{% static 'assets/images/moi.png' %}" alt=""
                      class="img-fluid rounded-circle overflow-hidden flex-shrink-0" width="60" height="60">
                    <div>
                      <h5 class="mb-1 fw-normal">Anderson k.</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <p class="fs-5 mb-0 text-opacity-50">
                        Avez-vous vécu une expérience marquante avec Dieu à travers le Ministère Génération Joël ? Votre témoignage peut édifier, encourager et fortifier d'autres personnes !
                        Nous serions honorés de lire ce que Dieu a fait dans votre vie !
                        <a href="mailto:andersonkamateakm@gmail.com" class="btn btn-dark btn-sm">Envoyez-nous votre témoignage</a>
                    </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Section Famille MGJ -->
    <section class="meet-our-team py-5 py-lg-11 py-xl-12" id="famille">
      <div class="container">
        <div class="d-flex flex-column gap-5 gap-xl-11">
          <div class="row gap-7 gap-xl-0">
            <div class="col-xl-4 col-xxl-4">
              <div class="d-flex align-items-center gap-7 py-2" data-aos="fade-right" data-aos-delay="100"
                data-aos-duration="1000">
                <span
                  class="round-36 flex-shrink-0 text-dark rounded-circle bg-primary hstack justify-content-center fw-medium">05</span>
                <hr class="border-line bg-white">
                <span class="badge text-bg-dark">Famille MGJ</span>
              </div>
            </div>
            <div class="col-xl-8 col-xxl-7">
              <div class="row">
                <div class="col-xxl-8">
                  <div class="d-flex flex-column gap-6" data-aos="fade-up" data-aos-delay="100"
                    data-aos-duration="1000">
                    <h2 class="mb-0">Nos départements </h2>
                    <p class="fs-5 mb-0 text-opacity-70">
                        Au Ministère Génération Joël – Secteur Goma-Ville, plusieurs départements sont en
                        place pour permettre à chacun de servir selon son appel : l’Évangélisation pour annoncer
                        la Bonne Nouvelle, le Protocole pour assurer l’ordre et l’accueil, l’Intercession pour
                        porter l’église dans la prière, la Chorale pour conduire l’assemblée dans l’adoration, les Femmes Dynamiques pour l’encadrement spirituel des femmes, le Département Technique pour la gestion audiovisuelle, et la Jeunesse pour former et mobiliser la nouvelle génération au service de Dieu.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-xl-3 mb-7 mb-xl-0">
              <div class="meet-team d-flex flex-column gap-4" data-aos="fade-up" data-aos-delay="100"
                data-aos-duration="1000">
                <div class="meet-team-img position-relative overflow-hidden">
                  <img src="{% static 'assets/images/eva.jpeg' %}" alt="team-img" class="img-fluid w-100">
                  <div class="meet-team-overlay p-7 d-flex flex-column justify-content-end">
                    <ul class="social list-unstyled mb-0 hstack gap-2 justify-content-end">
                      <li><a href="#" class="btn bg-white p-2 round-45 rounded-circle hstack justify-content-center">
                          <iconify-icon icon="lucide:arrow-up-right" class="btn-icon bg-white text-dark round-52 rounded-circle hstack justify-content-center fs-7 shadow-sm"></iconify-icon>
                          </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="meet-team-details">
                  <h5 class="mb-0">Evangelisation</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!--  FAQ Section -->
    <section class="faq py-5 py-lg-11 py-xl-12">
      <div class="container">
        <div class="d-flex flex-column gap-5 gap-xl-11">
          <div class="row gap-7 gap-xl-0">
            <div class="col-xl-4 col-xxl-4">
              <div class="d-flex align-items-center gap-7 py-2" data-aos="fade-right" data-aos-delay="100"
                data-aos-duration="1000">
                <span
                  class="round-36 flex-shrink-0 text-dark rounded-circle bg-primary hstack justify-content-center fw-medium">06</span>
                <hr class="border-line bg-white">
                <span class="badge text-bg-dark">Question</span>
              </div>
            </div>
            <div class="col-xl-8 col-xxl-7">
              <div class="row">
                <div class="col-xxl-9">
                  <div class="d-flex flex-column gap-6" data-aos="fade-up" data-aos-delay="100"
                    data-aos-duration="1000">
                    <h2 class="mb-0">Question Frequentes</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="col-xl-8">
              <div class="accordion accordion-flush" id="accordionFlushExample" data-aos="fade-up" data-aos-delay="200"
                data-aos-duration="1000">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed fs-8 fw-bold" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      Où se trouve le Ministère Génération Joël à Goma ?
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body pt-0 fs-5 text-dark">
                    Le Ministère Génération Joël Goma dispose de deux extensions :
                    Le Temple de l’Antenne Goma : situé à Himbi, non loin de la résidence du feu Toumboula. <br>
                    Le Secteur Goma-Ville : situé au quartier Mabanga-Sud, juste en face de l’Hôpital Provincial du Nord-Kivu.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section resource -->
    <section class="Recent-news bg-light-gray py-5 py-lg-11 py-xl-12" id="media">
      <div class="container">
        <div class="d-flex flex-column gap-5 gap-xl-11">
          <div class="row gap-7 gap-xl-0">
            <div class="col-xl-4 col-xxl-4">
              <div class="d-flex align-items-center gap-7 py-2" data-aos="fade-right" data-aos-delay="100"
                data-aos-duration="1000">
                <span
                  class="round-36 flex-shrink-0 text-dark rounded-circle bg-primary hstack justify-content-center fw-medium">07</span>
                <hr class="border-line bg-white">
                <span class="badge text-bg-dark">Resources mediatique</span>
              </div>
            </div>
            <div class="col-xl-8 col-xxl-7">
              <div class="row">
                <div class="col-xxl-8">
                  <div class="d-flex flex-column gap-6" data-aos="fade-up" data-aos-delay="100"
                    data-aos-duration="1000">
                    <h2 class="mb-0">Resources Recentes </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6 mb-7 mb-xl-0">
              <div class="resources d-flex flex-column gap-6" data-aos="fade-up" data-aos-delay="100"
                data-aos-duration="1000">
                <a href="#"
                  class="resources-img resources-img-first position-relative overflow-hidden d-block">
                  <img src="{% static 'assets/images/culte.jpg' %}" alt="resources" class="img-fluid">
                </a>
                <div class="resources-details">
                  <p class="mb-0">Octobre 10, 2025</p>
                  <h6 class="mb-0">Retraite de 3 jours</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section contact -->
    <section class="get-in-touch py-5 py-lg-11 py-xl-12" id="contact">
      <div class="container">
        <div class="d-flex flex-column gap-5 gap-xl-10">
          <div class="row gap-7 gap-xl-0">
            <div class="col-xl-4 col-xxl-4">
              <div class="d-flex align-items-center gap-7 py-2" data-aos="fade-right" data-aos-delay="100"
                data-aos-duration="1000">
                <span
                  class="round-36 flex-shrink-0 text-dark rounded-circle bg-primary hstack justify-content-center fw-medium">08</span>
                <hr class="border-line bg-white">
                <span class="badge text-bg-dark">Contact</span>
              </div>
            </div>
            <div class="col-xl-8 col-xxl-7">
              <div class="row">
                <div class="col-xxl-8">
                  <div class="d-flex flex-column gap-6" data-aos="fade-up" data-aos-delay="100"
                    data-aos-duration="1000">
                    <h2 class="mb-0">Contactez-nous</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-between gap-7 gap-xl-0">
            <div class="col-xl-3">
              <p class="mb-0 fs-5" data-aos="fade-right" data-aos-delay="100" data-aos-duration="1000">
                  Pour toute autre question concernant le ministère, n'hésitez pas à nous contacter — c’est toujours une joie pour nous de lire vos messages et de vous répondre.
              </p>
            </div>
            <div class="col-xl-8">
              <form class="d-flex flex-column gap-7" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                <div>
                  <input type="text" class="form-control border-bottom border-dark" id="formGroupExampleInput"
                    placeholder="Name">
                </div>
                <div>
                  <input type="email" class="form-control border-bottom border-dark" id="exampleInputEmail1"
                    placeholder="Email" aria-describedby="emailHelp">
                </div>
                <div>
                  <textarea class="form-control border-bottom border-dark" id="exampleFormControlTextarea1"
                    placeholder="Tell us about your project" rows="3"></textarea>
                </div>
                <button type="submit" class="btn w-100 justify-content-center">
                  <span class="btn-text text-white">Envoyer</span>
                  <iconify-icon icon="lucide:arrow-up-right"
                    class="btn-icon bg-white text-dark round-52 rounded-circle hstack justify-content-center fs-7 shadow-sm"></iconify-icon>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

  <footer class="footer bg-dark py-5 py-lg-11 py-xl-12">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 mb-8 mb-xl-0">
          <div class="d-flex flex-column gap-8 pe-xl-5">
            <h2 class="mb-0 text-white">{{ministere.name}}</h2>
            <div class="d-flex flex-column gap-2">
              <a href="mailto:{{ministere.email}}" target="_blank" class="link-warning hstack gap-3 text-white fs-5">
                <iconify-icon icon="lucide:arrow-up-right" class="fs-7 text-primary"></iconify-icon>
                mgj@mgjgomaville.com
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xl-2 mb-8 mb-xl-0">
          <ul class="footer-menu list-unstyled mb-0 d-flex flex-column gap-2">
            <li><a class="link-warning fs-5 text-white" href="{% url 'membres:home' %}">Accueil</a></li>
            <li><a class="link-warning fs-5 text-white" href="{% url 'membres:home' %}#about">Qui sommes nous ?</a></li>
            <li><a class="link-warning fs-5 text-white" href="{% url 'membres:home' %}#evenement">Evenement</a></li>
            <li><a class="link-warning fs-5 text-white" href="{% url 'membres:home' %}#famille">Famille MGJ</a></li>
            <li><a class="link-warning fs-5 text-white" href="{% url 'membres:home' %}#media">Media</a></li>
            <li><a class="link-warning fs-5 text-white" href="{% url 'membres:home' %}#contact">Contatct</a></li>
          </ul>
        </div>
        <div class="col-md-4 col-xl-2 mb-8 mb-xl-0">
          <ul class="footer-menu list-unstyled mb-0 d-flex flex-column gap-2">
            <li><a class="link-warning fs-5 text-white" href="#"> <i class="fab fa-facebook text-white"></i> facebook </a></li>
            <li><a class="link-warning fs-5 text-white" href="#"> <i class="fab fa-instagram text-white"></i>  instagram</a></li>
            <li><a class="link-warning fs-5 text-white" href="{% url 'membres:home' %}#"> <i class="fab fa-youtube text-white"></i> youtube</a></li>
          </ul>
        </div>
        <div class="col-md-4 col-xl-3 mb-8 mb-xl-0">
          <p class="mb-0 text-white text-opacity-70 text-md-end">© mgj-secteur-goma-ville all rights reserved copyright 2025</p>
        </div>
      </div>
    </div>
  </footer>

  <div class="get-template hstack gap-2">
    <button class="btn bg-outline-primary p-2 round-52 rounded-circle hstack justify-content-center flex-shrink-0"
      id="scrollToTopBtn">
      <iconify-icon icon="lucide:arrow-up" class="fs-7 text-white"></iconify-icon>
    </button>
  </div>


  <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/libs/owl.carousel/dist/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/libs/aos-master/dist/aos.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script>
  <script src="{% static 'assets/js/all.min.js' %}"></script>
  <!-- solar icons -->
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>